#header {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: bold;
    color: black;

    
    margin-top: 20px;
    margin-right: 15px;

    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

a, a:visited {
    text-decoration: none;
    color: black;
}

